

<div class="container">
  <h1>Articles Listing</h1>
  <% @articles.each do |article| %>
    <h2> <%= article.id %>. <%= link_to article.title, article_path(article), class: "link" %> <%= link_to '', article_path(article),
        method: :delete, class: "far fa-trash-alt"%> </h2>
    <p> <%= article.content %> </p>
  <% end %>

  <%= link_to "Add New Task", new_article_path, class: "btn btn-primary"%>
</div>
